<a href="https://colab.research.google.com/github/PosgradoMNA/Actividades_de_Aprendizaje_A01793670_BryanAlvaradoCruz/blob/main/IBM_Python_101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Semana 1 - Actividad 2: Python for Data Science (IBM)**

###**Maestría en Inteligencia Artificial Aplicada**
###**Curso: Ciencia y analítica de datos (Gpo 10)**
####**Tecnológico de Monterrey**
###**Prof Jobish Vallikavungal**

###**Nombre del estudiante: (Bryan Alvarado Cruz)**

###**Matrícula: (A01793670)**

#** Module 1 **

In [ ]:
#Print Hello
print ("Hello Python 101")
print ("Hello\nWorld")

Hello Python 101
Hello
World

In [ ]:
print(int("1"))
print(bool("1"))
    
   
print(bool(int("1")))

print (int(1.0))

type("Hello ")

type (int(1.0))

bool(1)

1
True
True
1

True

In [ ]:
m=25/6

N=25//6

print (m)
print (N)

4.166666666666667
4

In [ ]:

Letters="ABCDEFGHIJK"
Letters[0:4]

'ABCD'

In [ ]:
Good="GsoAo+d"
Good[::2]

'Good'

In [ ]:
"uppercase"
"uppercase".upper()

'UPPERCASE'

#** Lab 1 **

In [ ]:
print('Hello, Python!')

Hello, Python!

In [ ]:
import sys
print(sys.version)

3.7.14 (default, Sep  8 2022, 00:06:44)
[GCC 7.5.0]

In [ ]:
print('Hello, Python!') # This line prints a string
# print('Hi')

Hello, Python!

In [ ]:
# Print string as error message
frint("Hello, Python!")

NameError: ignored

In [ ]:
# Try to see built-in error message

print("Hello, Python!)

SyntaxError: ignored

In [ ]:
# Print string and error to see the running order

print("This will be printed")
frint("This will cause an error")
print("This will NOT be printed")

This will be printed

NameError: ignored

#** Exercise: Your First Program **
## ** In the code cell below, use the print() function to print out the phrase: Hello, world! **

In [ ]:
print("Hello, world!")

Hello, world!

## ** Now, let's enhance your code with a comment. In the code cell below, print out the phrase: Hello, world! and comment it with the phrase Print the traditional hello world all in one line of code **

In [ ]:
print("Hello, World!") # Print the traditional hello world

Hello, World!

## ** Types of objects in Python

Python is an object-oriented language. There are many different types of objects in Python. Let's start with the most common object types: strings, integers and floats. Anytime you write words (text) in Python, you're using character strings (strings for short). The most common numbers, on the other hand, are integers (e.g. -1, 0, 100) and floats, which represent real numbers (e.g. 3.14, -42.0). **

In [ ]:
# Integer

11

11

In [ ]:
# Float

2.14

2.14

In [ ]:
# Type of 12

type(12)

int

In [ ]:
# Type of 2.14

type(2.14)

float

In [ ]:
# Type of "Hello, Python 101!"

type("Hello, Python 101!")

str

## ** In the code cell below, use the type() function to check the object type of 12.0.  **

In [ ]:
type(12.0)

float

In [ ]:
Numbers = "0123456"
Numbers[::2]

'0246'

In [ ]:
"0123456".find('1')

1

## ** Lab - String Operations **

## ** What is the value of the variable a after the following code is executed? **

In [ ]:
# Write your code below and press Shift+Enter to execute 

a = "1"
a

'1'

## ** What is the value of the variable b after the following code is executed? **

In [ ]:
# Write your code below and press Shift+Enter to execute

b = "2"
b

'2'

## ** What is the value of the variable c after the following code is executed? **

In [ ]:
# Write your code below and press Shift+Enter to execute 

c = a + b
c

'12'

## ** Consider the variable d use slicing to print out the first three elements: **

In [ ]:
# Write your code below and press Shift+Enter to execute

d = "ABCDEFG"
print(d[:3])

ABC

## ** Use a stride value of 2 to print out every second character of the string e: **

In [ ]:
# Write your code below and press Shift+Enter to execute

e = 'clocrkr1e1c1t'
print(e[::2])

correct

## ** Print out a backslash: **

In [ ]:
# Write your code below and press Shift+Enter to execute
print(r"\ ")

\

## ** Convert the variable f to uppercase: **

In [ ]:
# Write your code below and press Shift+Enter to execute

f = "You are wrong"
f.upper()

'YOU ARE WRONG'

## ** Consider the variable g, and find the first index of the sub-string snow:  **

In [ ]:
g = "Mary had a little lamb Little lamb, little lamb Mary had a little lamb \
Its fleece was white as snow And everywhere that Mary went Mary went, Mary went \
Everywhere that Mary went The lamb was sure to go"

g.find("snow")

95

## ** In the variable g, replace the sub-string Mary with Bob: **

In [ ]:
# Write your code below and press Shift+Enter to execute
g.replace("Mary", "Bob")

'Bob had a little lamb Little lamb, little lamb Bob had a little lamb Its fleece was white as snow And everywhere that Bob went Bob went, Bob went Everywhere that Bob went The lamb was sure to go'

## ** MODULE 2 **

# * Lists and Tuples *

In [1]:
bool(1)

True

In [4]:
m=int(1.0)
type(m)

int

In [8]:
A=(0,1,2,3)
print(A)

(0, 1, 2, 3)

In [11]:
print(A[:2])

(0, 1)

In [12]:
A[0:2]

(0, 1)

In [13]:
B=["a","b","c"]

In [14]:
B[0:2]

['a', 'b']

In [15]:
B[0] = 'A'
print(B)

['A', 'b', 'c']

In [16]:
['A','B','C','A','B','C']

['A', 'B', 'C', 'A', 'B', 'C']

In [17]:
set(['A','B','C','A','B','C'])

{'A', 'B', 'C'}

In [18]:
S={'A','B','C'}

In [20]:
S.add('D')
S

{'A', 'B', 'C', 'D'}

In [21]:
A={1,2,3,4,5}
B={1,3,9, 12}

In [22]:
A&B

{1, 3}

In [23]:
A.intersection(B)

{1, 3}

In [24]:
D={'a':0,'b':1,'c':2}

In [25]:
D['a']

0

In [27]:
D.keys ()

dict_keys(['a', 'b', 'c'])

In [28]:
# Create your first tuple

tuple1 = ("disco",10,1.2 )
tuple1

('disco', 10, 1.2)

In [29]:
# Print the type of the tuple you created

type(tuple1)

tuple

In [30]:
# Print the variable on each index

print(tuple1[0])
print(tuple1[1])
print(tuple1[2])

disco
10
1.2

In [32]:
# Print the type of value on each index

print(type(tuple1[0]))
print(type(tuple1[1]))
print(type(tuple1[2]))

<class 'str'>
<class 'int'>
<class 'float'>

In [33]:
# Use negative index to get the value of the last element

tuple1[-1]

1.2

In [34]:
# Use negative index to get the value of the second last element

tuple1[-2]

10

In [35]:
# Use negative index to get the value of the third last element

tuple1[-3]

'disco'

In [36]:
# Concatenate two tuples

tuple2 = tuple1 + ("hard rock", 10)
tuple2

('disco', 10, 1.2, 'hard rock', 10)

In [37]:
# Slice from index 0 to index 2

tuple2[0:3]

('disco', 10, 1.2)

In [38]:
# Get the length of tuple

len(tuple2)

5

In [39]:
# A sample tuple

Ratings = (0, 9, 6, 5, 10, 8, 9, 6, 2)

In [40]:
# Sort the tuple

RatingsSorted = sorted(Ratings)
RatingsSorted

[0, 2, 5, 6, 6, 8, 9, 9, 10]

In [41]:
# Create a nest tuple

NestedT =(1, 2, ("pop", "rock") ,(3,4),("disco",(1,2)))

In [42]:
# Print element on each index

print("Element 0 of Tuple: ", NestedT[0])
print("Element 1 of Tuple: ", NestedT[1])
print("Element 2 of Tuple: ", NestedT[2])
print("Element 3 of Tuple: ", NestedT[3])
print("Element 4 of Tuple: ", NestedT[4])

Element 0 of Tuple:  1
Element 1 of Tuple:  2
Element 2 of Tuple:  ('pop', 'rock')
Element 3 of Tuple:  (3, 4)
Element 4 of Tuple:  ('disco', (1, 2))

In [43]:
# Print element on each index, including nest indexes

print("Element 2, 0 of Tuple: ",   NestedT[2][0])
print("Element 2, 1 of Tuple: ",   NestedT[2][1])
print("Element 3, 0 of Tuple: ",   NestedT[3][0])
print("Element 3, 1 of Tuple: ",   NestedT[3][1])
print("Element 4, 0 of Tuple: ",   NestedT[4][0])
print("Element 4, 1 of Tuple: ",   NestedT[4][1])

Element 2, 0 of Tuple:  pop
Element 2, 1 of Tuple:  rock
Element 3, 0 of Tuple:  3
Element 3, 1 of Tuple:  4
Element 4, 0 of Tuple:  disco
Element 4, 1 of Tuple:  (1, 2)

In [44]:
# Print the first element in the second nested tuples

NestedT[2][1][0]

'r'

In [45]:
# Print the second element in the second nested tuples

NestedT[2][1][1]

'o'

In [46]:
# Print the first element in the second nested tuples

NestedT[4][1][0]

1

In [47]:
# Print the second element in the second nested tuples

NestedT[4][1][1]

2

# ** Quiz on Tuples **

Consider the following tuple:

In [48]:
# sample tuple

genres_tuple = ("pop", "rock", "soul", "hard rock", "soft rock", \
                "R&B", "progressive rock", "disco") 
genres_tuple

('pop',
 'rock',
 'soul',
 'hard rock',
 'soft rock',
 'R&B',
 'progressive rock',
 'disco')

Find the length of the tuple, genres_tuple:

In [49]:
len(genres_tuple)

8

Access the element, with respect to index 3:

In [50]:
genres_tuple[3]

'hard rock'

Find the first two elements of the tuple genres_tuple:

In [51]:
genres_tuple[0:2]

('pop', 'rock')

Find the first index of "disco":

In [52]:
genres_tuple.index("disco")

7

Generate a sorted List from the Tuple C_tuple=(-5, 1, -3):

In [53]:
C_tuple = (-5, 1, -3)
C_list = sorted(C_tuple)
C_list

[-5, -3, 1]

# ** Lists **

In [54]:
# Create a list

L = ["Michael Jackson", 10.1, 1982]
L

['Michael Jackson', 10.1, 1982]

In [55]:
# Print the elements on each index

print('the same element using negative and positive indexing:\n Postive:',L[0],
'\n Negative:' , L[-3]  )
print('the same element using negative and positive indexing:\n Postive:',L[1],
'\n Negative:' , L[-2]  )
print('the same element using negative and positive indexing:\n Postive:',L[2],
'\n Negative:' , L[-1]  )

the same element using negative and positive indexing:
 Postive: Michael Jackson
 Negative: Michael Jackson
the same element using negative and positive indexing:
 Postive: 10.1
 Negative: 10.1
the same element using negative and positive indexing:
 Postive: 1982
 Negative: 1982

# ** List Content **

In [56]:
# Sample List

["Michael Jackson", 10.1, 1982, [1, 2], ("A", 1)]

['Michael Jackson', 10.1, 1982, [1, 2], ('A', 1)]

In [57]:
# Sample List

L = ["Michael Jackson", 10.1,1982,"MJ",1]
L

['Michael Jackson', 10.1, 1982, 'MJ', 1]

In [58]:
# List slicing

L[3:5]

['MJ', 1]

In [59]:
# Use extend to add elements to list

L = [ "Michael Jackson", 10.2]
L.extend(['pop', 10])
L

['Michael Jackson', 10.2, 'pop', 10]

In [60]:
# Use append to add elements to list

L = [ "Michael Jackson", 10.2]
L.append(['pop', 10])
L

['Michael Jackson', 10.2, ['pop', 10]]

In [61]:
# Use extend to add elements to list

L = [ "Michael Jackson", 10.2]
L.extend(['pop', 10])
L

['Michael Jackson', 10.2, 'pop', 10]

In [62]:
# Use append to add elements to list

L.append(['a','b'])
L

['Michael Jackson', 10.2, 'pop', 10, ['a', 'b']]

In [63]:
# Change the element based on the index

A = ["disco", 10, 1.2]
print('Before change:', A)
A[0] = 'hard rock'
print('After change:', A)

Before change: ['disco', 10, 1.2]
After change: ['hard rock', 10, 1.2]

In [64]:
# Delete the element based on the index

print('Before change:', A)
del(A[0])
print('After change:', A)

Before change: ['hard rock', 10, 1.2]
After change: [10, 1.2]

In [65]:
# Split the string, default is by space

'hard rock'.split()

['hard', 'rock']

In [66]:
# Split the string by comma

'A,B,C,D'.split(',')

['A', 'B', 'C', 'D']

In [67]:
# Copy (copy by reference) the list A

A = ["hard rock", 10, 1.2]
B = A
print('A:', A)
print('B:', B)

A: ['hard rock', 10, 1.2]
B: ['hard rock', 10, 1.2]

In [68]:
# Examine the copy by reference

print('B[0]:', B[0])
A[0] = "banana"
print('B[0]:', B[0])

B[0]: hard rock
B[0]: banana

In [69]:
# Clone (clone by value) the list A

B = A[:]
B

['banana', 10, 1.2]

In [70]:
print('B[0]:', B[0])
A[0] = "hard rock"
print('B[0]:', B[0])

B[0]: banana
B[0]: banana

# ** Quiz on List

Create a list a_list, with the following elements 1, hello, [1,2,3] and True.

In [71]:
# Write your code below and press Shift+Enter to execute
a_list = [1, 'hello', [1, 2, 3] , True]
a_list

[1, 'hello', [1, 2, 3], True]

Find the value stored at index 1 of a_list.

In [72]:
# Write your code below and press Shift+Enter to execute
a_list[1]

'hello'

Retrieve the elements stored at index 1, 2 and 3 of a_list.

In [73]:
a_list[1:4]

['hello', [1, 2, 3], True]

Concatenate the following lists A = [1, 'a'] and B = [2, 1, 'd']:

In [74]:
A = [1, 'a'] 
B = [2, 1, 'd']
A + B

[1, 'a', 2, 1, 'd']