<a href="https://colab.research.google.com/github/PosgradoMNA/Actividades_de_Aprendizaje_A01793670_BryanAlvaradoCruz/blob/main/Modulo_3_Semana_6_Data_Analysis_with_Python_A01763970.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# QUESTION 1
1/1 point (ungraded)

Select the values of i that produces a True for the following:

i!=0

In [8]:
i =-100000000 
i!=0

True

# QUESTION 2
1/1 point (ungraded)

What is the output of the following:

In [3]:


x='a'

if(x!='a'):

  print("This is not a.")

else:

  print("This is a.")

This is a.

#**LAB**

Comparison Operations

Find the value of i that produces a True:

In [9]:
i= 1

i!=0

True

Branching

Find the value of x that prints the statement "this is a"

In [10]:
x = 'a'
if(x=='a'):
    print("this is a")
else:
    print("this is  not a")

this is a

Logic Operators

Find the value of y that produces a True statement:

In [11]:
y= 0
x=1
x>0 and y<10

True

Definition

An exception is an error that occurs during the execution of code. This error causes the code to raise an exception and if not prepared to handle it will halt the execution of the code.
Examples

Run each piece of code and observe the exception raised

In [12]:
1/0
#ZeroDivisionError occurs when you try to divide by zero.

ZeroDivisionError: ignored

In [13]:
y = a + 5
#NameError -- in this case, it means that you tried to use the variable a when it was not defined.

NameError: ignored

In [15]:
a = [1, 2, 3]
a[10]

#IndexError -- in this case, it occured because you tried to access data from a list using an index that does not exist for this list.

#There are many more exceptions that are built into Python, here is a list of them https://docs.python.org/3/library/exceptions.html

IndexError: ignored

##Exception Handling

In this section you will learn how to handle exceptions. You will understand how to make your program perform specified tasks instead of halting code execution when an exception is encountered.
Try Except

A try except will allow you to execute code that might raise an exception and in the case of any exception or a specific one we can handle or catch the exception and execute specific code. This will allow us to continue the execution of our program even if there is an exception.

Python tries to execute the code in the try block. In this case if there is any exception raised by the code in the try block, it will be caught and the code block in the except block will be executed. After that, the code that comes after the try except will be executed.

###Try Except Example

In this example we are trying to divide a number given by the user, save the outcome in the variable a, and then we would like to print the result of the operation. When taking user input and dividing a number by it there are a couple of exceptions that can be raised. For example if we divide by zero. Try running the following block of code with b as a number. An exception will only be raised if b is zero.

In [16]:
a = 1

try:
    b = int(input("Please enter a number to divide a"))
    a = a/b
    print("Success a=",a)
except:
    print("There was an error")

Please enter a number to divide a2
Success a= 0.5

##Try Except Specific Example
This is the same example as above, but now we will add differentiated messages depending on the exception, letting the user know what is wrong with the input.

In [17]:
a = 1

try:
    b = int(input("Please enter a number to divide a"))
    a = a/b
    print("Success a=",a)
except ZeroDivisionError:
    print("The number you provided cant divide 1 because it is 0")
except ValueError:
    print("You did not provide a number")
except:
    print("Something went wrong")

Please enter a number to divide a0
The number you provided cant divide 1 because it is 0

##Try Except Else and Finally Example

You might have noticed that even if there is an error the value of a is always printed. Let's use the else and print the value of a only if there is no error.

In [19]:
a = 1

try:
    b = int(input("Please enter a number to divide a"))
    a = a/b
except ZeroDivisionError:
    print("The number you provided cant divide 1 because it is 0")
except ValueError:
    print("You did not provide a number")
except:
    print("Something went wrong")
else:
    print("success a=",a)

#Now lets let the user know that we are done processing their answer. Using the finally, let's add a print.

Please enter a number to divide a2
success a= 0.5

In [20]:
a = 1

try:
    b = int(input("Please enter a number to divide a"))
    a = a/b
except ZeroDivisionError:
    print("The number you provided cant divide 1 because it is 0")
except ValueError:
    print("You did not provide a number")
except:
    print("Something went wrong")
else:
    print("success a=",a)
finally:
    print("Processing Complete")

Please enter a number to divide a2
success a= 0.5
Processing Complete

##For Loops

Use loops to print out the elements in the list A:

In [21]:
A=[3,4,5]
for i in A:  
    print(i)

3
4
5

##While Loops

Find the value of  x that will print out the sequence  1,2,..,10 :

In [22]:
x= 11
y=1
while(y != x):
    print(y)
    y=y+1

1
2
3
4
5
6
7
8
9
10

##Function

Complete the function  f so that it returns the product of a and b. Use the next cell to test the function.

In [24]:
def f(a,b):
    
    return a*b

In [25]:
a=4
b=2

if a*b==f(a,b):   
    print("Correct.")   
else:    
    print("Incorrect.")

Correct.

Complete the function g such that the input c is a list of integers and the output is the sum of all the elements in the list.

In [26]:
def g(c):

    return sum(c)

In [27]:
c=[1,2,3,4,5]

if sum(c)==g(c):   
    print("Correct.")   
else:    
    print("Incorrect.")

Correct.

You will need the class Car for the next exercises. The class Car has four data attributes: make, model, colour and number of owners (owner_number). The method  car_info() prints out the data attributes and the method sell() increments the number of owners by 1.

In [28]:
class Car(object):
    def __init__(self,make,model,color):
        self.make=make;
        self.model=model;
        self.color=color;
        self.owner_number=0 
    def car_info(self):
        print("make: ",self.make)
        print("model:", self.model)
        print("color:",self.color)
        print("number of owners:",self.owner_number)
    def sell(self):
        self.owner_number=self.owner_number+1

### Create a Car Object

Create a  Car object "my_car" with the given data attributes:

In [29]:
make="BMW"
model="M3"
color="red"

my_car = Car(make,model,color)

## Data Attributes

Use the method car_info() to print out the data attributes.

In [30]:
my_car.car_info()

make:  BMW
model: M3
color: red
number of owners: 0

## Methods

Call the method  sell() in the loop, then call the method  car_info() again

In [31]:
for i in range(5):
    my_car.sell()

my_car.car_info()

make:  BMW
model: M3
color: red
number of owners: 5